header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.logo {
  background: url('/takeoffconf2016/images/WEGOTCODERS_color.jpg') no-repeat right top;
  display: block;
  background-size: contain;
  text-indent: -300%;
  overflow: hidden;
  height: 1.5em;
  padding-right: 1em;
  /* border-bottom: 3px solid #C51F1F; */
  margin-top: 0;
}

.reveal .logo--takeoff {
  background: url('/takeoffconf2016/images/takeoffconf/takeoff.jpg') no-repeat center center;
  height: 300px;
  display: block;
  background-size: contain;
  text-indent: -300%;
  overflow: hidden;
  padding-right: 1em;
  /* border-bottom: 3px solid #C51F1F; */
  margin-top: 0;
}

.reveal .slide--dark * {
  color: white;
}

.slide--dark .logo {
  background-image: url('/takeoffconf2016/images/WEGOTCODERS_t.png');
}

.reveal .logo--main {
  background: url('/takeoffconf2016/images/WEGOTCODERS_color.jpg') no-repeat right top;
  background-position: center top;
  font-size: 5em;
}

.reveal .bg--ghost {
  background: rgba(0,0,0,0.6);
  padding: 2em;
}

.reveal .no-border {
  border:0;
  box-shadow:none;
}